---
# tasks file for pi-reboot
- name: Reboot server
  become: yes
  shell: sleep 2 && shutdown -r now "Ansible system package upgraded"
  async: 1
  poll: 0

- name: Wait for the server to finish rebooting
  local_action: wait_for host={{ inventory_hostname }} port=22 state=started delay=30 timeout=90
  become: false
